# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log
*.lock
*.iml
.idea/
.gradle/
build/
out/

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# OS-specific
.DS_Store
Thumbs.db

# Misc
*.swp
*~
